<footer>
    <div class="footer">
        <div class="footerFirstChild">
            <span>
                <b><i>
                        Raushan's Mandal Corporatives
                    </i></b>
            </span>
        </div>
    </div>
</footer>