<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Raushan Kumar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
</head>

<body>
    <header>
        <div class="head">
            <div class="headFirstChild" id="headFirstChild">
                <div class="nav" id="firstNav"><a href="/r/programming">Programming</a></div>
                <div class="nav" id="firstNav"><a href="/r/development">Development</a></div>
                <div class="nav" id="firstNav"><a href="/r/interface-less">Interface-less</a></div>
                <div class="nav" id="firstNav"><a href="/r/datascience">Data Science</a></div>
                <div class="nav" id="firstNav"><a href="/r/academics">Academics</a></div>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="mainFirstChild" id="mainFirstChild">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio cupiditate ullam fugiat quibusdam quam,
                ipsum alias cumque necessitatibus odio mollitia sunt perferendis, id debitis aliquam? Ipsa iure maiores
                recusandae dicta dolor ex tempora, incidunt exercitationem vero neque ullam voluptates beatae aspernatur
                illum, alias eum dolorum. Sed laudantium fuga cum autem quasi maiores minima voluptates deleniti omnis
                dolorem ducimus quod debitis tempora pariatur fugiat modi impedit fugit nulla, saepe rerum a
                consequatur. Repellendus unde minima sed dolor, maiores quis quasi molestiae natus optio, voluptates
                numquam eveniet quas nesciunt qui commodi, architecto dicta. Vitae dolore exercitationem, porro nostrum
                iure quia odio nemo asperiores at ad modi optio amet eum velit tempore reprehenderit obcaecati,
                veritatis aperiam deserunt sint adipisci accusantium, id non? Maxime dolore quae iure. Animi neque a
                voluptate provident ipsam excepturi doloremque quae itaque quam nobis nulla aut optio harum nihil
                architecto facere alias libero, iste perspiciatis corrupti et maxime fugit voluptatum? Nisi officia
                molestias, corrupti sint placeat, blanditiis beatae ipsa cupiditate fugit ducimus rerum, delectus ipsam
                perferendis officiis corporis aspernatur tenetur commodi veniam dignissimos deleniti in ex illum? Natus
                veritatis, corrupti iusto minus, facilis nobis suscipit explicabo aperiam consequuntur eligendi nulla
                quod. Dolor, numquam at. Officia blanditiis molestias quidem eligendi!
                <span>text me</span>
                <div class="test">
                    yeah sure
                </div>
            </div>
            <div class="mainSecondChild">
                <img src="/img's/profile_pic.png" id="profileImage" alt="Raushan-profile-picture">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footerFirstChild">

            </div>
        </div>
    </footer>
    <script src="/javascript/script.js"></script>
</body>

</html>